<!-- templates/401.html -->
<!-- Custom Error landing page -->

<!-- based on -->
<!-- https://flask.palletsprojects.com/en/1.1.x/patterns/errorpages/ -->

<!-- Code to indicate this will extend the base.html page -->
{% extends "base.html" %}

<!-- Block content to be substituted -->
{% block content %}

<div class="ml-5 mt-5 mr-5">

<div class="jumbotron">
  <h1 class="display-4">Access Denied</h1>
  <p class="lead">Looks like you don't have the necessary credentials to access this page. Time to redirect you to the right page!</p>
  <p>Error Code: 401</p>
  <p class="lead">
    <a href="{{url_for('public.index')}}">
      <button type="button" onclick='' class="btn btn-outline-primary btn-sm">Return to Homepage</button>
    </a>
  </p>
</div>

</div>

{% endblock %}