<!-- templates/500.html -->
<!-- Custom Error landing page -->

<!-- based on ideas from -->
<!-- https://flask.palletsprojects.com/en/1.1.x/patterns/errorpages/ -->

<!-- Code to indicate this will extend the base.html page -->
{% extends "base.html" %}

<!-- Block content to be substituted -->
{% block content %}

<div class="ml-5 mt-5 mr-5">

        <div class="jumbotron">
          <h1 class="display-4">Internal Server Error</h1>
          <p class="lead">Our server is taking a break, just like you should be! Take this opportunity to grab a water bottle and rehydrate while we work on resolving the issue!</p>
          <p>Error Code: 500</p>
          <p class="lead">
            <a href="{{url_for('public.index')}}">
              <button type="button" onclick='' class="btn btn-outline-primary btn-sm">Return to Homepage</button>
            </a>
          </p>
        </div>
</div>

{% endblock %}