<html encoding="UTF-8">

<h1> Manager Analytics - Facilities</h1>

<h2> Report Summary - Week of {{ date_from }} to {{ date_to }} </h3>

<h3>Usage statistics of the Climbing Wall over the last week</h3>
		<img src="app/static/gen/climbingwall.png" alt="Climbing Wall Stats">

		<h3>Usage statistics of the Fitness Room over the last week</h3>
		<img src="app/static/gen/fitnessroom.png" alt="Sports Hall Stats">

		<h3>Usage statistics of the Sports Hall over the last week</h3>
		<img src="app/static/gen/sportshall.png" alt="Sports Hall Stats">

		<h3>Usage statistics of the Squash Courts over the last week</h3>
		<img src="app/static/gen/squash.png" alt="Squash Courts Stats">

		<h3>Usage statistics of the Studio over the last week</h3>
		<img src="app/static/gen/studio.png" alt="Studio Stats">

		<h3>Usage statistics of the Swimming pool over the last week</h3>
		<img src="app/static/gen/swimming.png" alt="Swimming Pool Stats">
        </html>
