<!-- Code to indicate this will extend the base.html page -->
{% extends "base.html" %}

<!-- Block content to be substituted on the index.html page -->
{% block content %}

</div>

<!-- Content of the page -->
<div class="main_manager_content" id="main-manager-body">
    <div class="m-5">

        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <a href="{{url_for('admin.index')}}">
			<button type="button" class="btn btn-outline-primary btn-sm">Return to admin index</button>
		</a>


        <h3> Manager Analytics - Classes</h3>

        <a href="{{url_for('admin.download_classes')}}">
            <button type="button" onclick="downloadPDF()" class="btn btn-success">Download PDF Report</button>
        </a>

        <h2>Usage statistics of Pilates classes over the last week</h2>
        <img src="/plots/8" alt="Pilates Classes Stats">

        <h2>Usage statistics of Aerobics classes over the last week</h2>
        <img src="/plots/9" alt="Aerobics Classes Stats">

        <h2>Usage statistics of Yoga classes over the last week</h2>
        <img src="/plots/10" alt="Yoga Classes Stats">

    </div>
</div>
{% endblock %}