<html encoding="UTF-8">

<h1> Manager Analytics - Sales</h1>

        <h2>Sales statistics of all classes over the last week</h2>

        <img src="app/static/gen/class.png" alt="Classes Sales Stats">

        <h2>Sales statistics of all facilities over the last week</h2>

        <p>SP = Swimming Pool<br>
            FR = Fitness Room<br>
            SC1 = Squash Court 1<br>
            SC2 = Squash Court 2<br>
            SH = Sports Hall<br>
            CW = Climbing Wall<br>
            S = Studio<br>
        </p>

        <img src="app/static/gen/facility.png" alt="Facilities Sales Stats">

        <h2>Ranked sales statistics of all sales over the last week</h2>
        <img src="app/static/gen/sales.png" alt="Sales Stats">
        </html>