<html encoding="UTF-8">

<h1> Manager Analytics - Classes</h1>

<h2> Report Summary - Week of {{ date_from }} to {{ date_to }} </h2>

<h3>Usage statistics of Pilates classes over the last week</h3>
<img src="app/static/gen/pilates.png" alt="Pilates Classes Stats">

<h3>Usage statistics of Aerobics classes over the last week</h3>
<img src="app/static/gen/aerobics.png" alt="Aerobics Classes Stats">

<h3>Usage statistics of Yoga classes over the last week</h3>
<img src="app/static/gen/yoga.png" alt="Yoga Classes Stats">
</html>
